.main-screen {
  height: 100vh;

  @include md {
    margin-bottom: rem(100px);
  }

  @include sm {
    margin-bottom: rem(70px);
  }

  @include xs {
    margin-bottom: rem(60px);
  }


  .hero-slider {
    height: 73.4%;

    .swiper-container {
      position: relative;

      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba($bc, .2);
        z-index: 2;
      }
    }

    .swiper-container,
    .swiper-wrapper,
    .swiper-slide {
      height: 100%;
    }

    .swiper-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 20px;
    }

    .swiper-pagination-bullet {
      outline: none;
      width: rem(7px);
      height: rem(7px);
      transition: $tr;

      &:hover {
        width: 12px;
        height: 12px;
      }
    }

    .swiper-pagination-bullet-active {
      width: 12px;
      height: 12px;
    }

    .container {
      height: 100%;
    }

    &__content {
      height: 100%;
      display: flex;
      align-items: center;
    }

    &__title {
      font-size: rem(45px);
      color: $bc;
      line-height: rem(54px);
      font-weight: 400;
      max-width: 45%;
      width: 100%;
      min-height: 110px;

      @include lg {
        font-size: rem(40px);
        line-height: rem(54px);
        max-width: 50%;
      }

      @include md {
        font-size: rem(35px);
        line-height: rem(45px);
        max-width: 55%;
      }

      @include sm {
        font-size: rem(30px);
        line-height: rem(40px);
        max-width: 70%;
      }

      @include xs {
        font-size: rem(25px);
        line-height: rem(35px);
        max-width: 100%;
      }
    }
  }

  .services {
    height: 26.6%;

    &__slider {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;

        &:hover {
          &:before {
            opacity: 1;
          }

          &:after {
            opacity: 0;
          }
        }

        &:before,
        &:after {
          position: absolute;
          content: '';
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          transition: $tr;
        }

        &:before {
          background: linear-gradient(65deg, rgba(252, 63, 105, .7), rgba(54, 99, 159, .7) 49%, rgba(79, 228, 228, .7), rgba(79, 228, 228, .7));
          opacity: 0;
        }

        &:after {
          background-color: rgba($bc, .6);
        }

        span {
          position: absolute;
          color: $wc;
          font-size: rem(25px);
          text-align: center;
          transition: $tr;
          text-transform: uppercase;
          z-index: 1;

          @include lg {
            font-size: rem(20px);
          }

          @include md {
            font-size: rem(18px);
          }

          @include sm {
            font-size: rem(16px);
          }

          @include xs {
            font-size: rem(14px);
          }
        }
      }
    }
  }

  .services__slider,
  .swiper-container,
  .swiper-wrapper,
  .swiper-slide {
    height: 100%;
  }
}