.header {
  min-height: rem(88px);
  display: flex;
  align-items: center;
  border-bottom: rem(1px) solid #ECECEC;
  z-index: 9;
  padding: 0 rem(40px) 0 0;
  background-color: $wc;

  @include sm {
    padding-right: rem(15px);
  }

  @include xs {
    min-height: auto;
    padding: rem(15px);
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__col {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__logo {
    max-width: rem(72px);
    margin: 0 rem(75px) 0 rem(55px);

    @media screen and (max-width: 1599.98px) {
      margin: 0 rem(30px);
    }

    @include xs {
      margin: 0 rem(10px);
      max-width: rem(55px);
    }
  }

  .nav {
    @include lg {
      display: none;
    }

    &__item {
      display: inline-block;
      margin-right: rem(50px);

      @media screen and (max-width: 1599.98px) {
        margin-right: rem(15px);
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        text-transform: uppercase;
        color: $bc;

        @media screen and (max-width: 1599.98px) {
          font-size: rem(13px);
        }

        &:hover {
          color: $mc;
        }
      }

      &_active {
        a {
          color: $mc;
        }
      }
    }
  }

  &__control {
    position: relative;
    margin-right: rem(45px);

    @media screen and (max-width: 1599.98px) {
      margin-right: rem(35px);
    }

    @include sm {
      display: none;
    }

    a {
      color: $bc;
      display: block;

      @media screen and (max-width: 1599.98px) {
        font-size: rem(14px);
      }

      &:after {
        position: absolute;
        content: '';
        font-family: 'fonticon';
        top: 50%;
        right: rem(-20px);
        transform: translateY(-40%);
        font-size: rem(5px);
      }
    }

    &:last-child {
      margin-right: 0;
    }

    i {
      font-size: rem(5px);
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-40%);
    }

    .search-trigger {
      cursor: pointer;
      margin-left: rem(55px);

      &:hover {
        i {
          color: $mc;
        }
      }

      i {
        font-size: rem(16px);
        color: $bc;
        transition: $tr;
      }
    }
  }

  &__mobile-control {
    display: none;

    ul {
      li {
        display: inline-block;
        margin-right: rem(15px);

        &:last-child {
          margin-right: 0;
        }

        span {
          cursor: pointer;

          i {
            color: $mc !important;
          }
        }
      }
    }

    @include sm {
      display: block;
    }
  }



  &__control-dropdown,
  .dropdown-wrap {
    position: relative;

    a {
      display: block;
    }

    &:hover {
      .dropdown {
        opacity: 1;
        visibility: visible;
        transition: all .4s ease-in-out;
        z-index: 1;
      }
    }

  }


  &_flush {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    .hamburger {
      i {
        background-color: $wc;
      }
    }

    .nav__item {
      a {
        color: $wc;
      }

      &_active {
        a {
          color: $mc;
        }
      }
    }

    .search-trigger {
      i {
        color: $wc;
      }
    }

    .header__control {
      a {
        color: $wc;
      }
    }
  }
}

.dropdown-wrap {
  position: relative;

  a {
    color: $bc;
    display: block;

    &:after {
      position: absolute;
      content: '';
      font-family: 'fonticon';
      top: 50%;
      right: rem(-20px);
      transform: translateY(-40%);
      font-size: rem(5px);
    }
  }

  &:hover {
    .dropdown {
      opacity: 1;
      visibility: visible;
      transition: all .4s ease-in-out;
      z-index: 1;
    }
  }

  .dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: rem(-22px);
    min-width: rem(180px);
    z-index: -1;

    &__wrap {
      background-color: $wc;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.11);
      border-radius: rem(2px);

      a {
        color: $bc !important;

        &:hover {
          background-color: #fafafa;
        }

        &:after {
          display: none;
        }
      }
    }

    &__item {
      border-bottom: rem(1px) solid #f2f2f2;

      a {
        padding: rem(18px) rem(22px) rem(35px);
        display: block;
        font-weight: 500;

        .dropdown-wrap__title {
          color: #C4C4C4;

          &:hover {
            color: #C4C4C4;
          }
        }
      }
    }


  }

  &__title {
    position: absolute;
    text-transform: uppercase;
    color: $wc;
    font-size: rem(9px);
    display: block;
    margin-top: rem(5px);

    @media screen and (max-width: 1599.98px) {
      font-size: rem(8px) !important;
    }

    @include sm {
      position: relative;
    }

    &:hover {
      color: #ccc;
    }

    &:after {
      display: none;
    }
  }
}

.mobile-menu {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: $wc;
  display: none;

  ul {
    li {
      border-bottom: 1px solid #eff1f5;

      &:first-child {
        padding: rem(20px) rem(10px);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: rem(14px);

        span {
          transition: $tr;
          cursor: pointer;

          &:hover {
            color: $mc;
          }
        }
      }

      &:last-child {
        a {
          color: $mc;
          text-transform: uppercase;
        }
      }

      a {
        padding: rem(20px) rem(10px);
        box-sizing: content-box;
        display: block;
        color: $bc;

        &:hover {
          color: $mc;
        }

        span {
          display: block;
          color: #999;
          margin-top: rem(10px);
        }
      }
    }
  }

  &.mobile-menu-open {
    display: block;
  }
}