mixin list(data)
  ul
    each item, index in  data.items
      if index == 0
        li.sidebar__item.sidebar__item_active
          a(href="#")=item.title
          if item.sublevel 
            .trigger-sub-menu
              i.icon-arrow3
            +list(item)
      else
        li.sidebar__item
          a(href="#")=item.title
          if item.sublevel 
            +list(item)



aside.sidebar
  .sidebar__list
    - var data = { "items": [{"title": "О компании"}, {"title": "Команда", "sublevel": false, "items":[{"title": "Второй уровень"}]}, {"title": "Партнеры"},{"title": "Производство"},{"title": "Отзывы"},{"title": "Документы"},{"title": "Реквизиты"},{"title": "Вакансии"},{"title": "Вопрос ответ"}]}
    +list(data)

  .sidebar__list
    ul
      
      li.sidebar__item
        a(href="#" class="callback-js")
          i.icon-phone
          | Заказать звонок

      li.sidebar__item
        a(href="#" class="ask-js")
          i.icon-envelope
          | Написать сообщение

      li.sidebar__item
        a(href="#" class="location-js")
          i.icon-mark
          | Ближайший офис 