.float-auxiliary-panel {
  position: fixed;
  right: 0;
  top: rem(225px);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
  z-index: 10;
  transition: $tr;
  transition-delay: .1s;
  background-color: $wc;
  ul {
    li {
      border-bottom: 1px solid #CFCFCF;
    

      &:last-child {
        border-bottom: none;
      }

      a {
        width: rem(67px);
        height: rem(67px);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $wc;
        font-size: rem(15px);
        color: $bc;

        &:hover {
          color: $mc;
        }

      }
    }
  }
}