mixin accordion(title,desc)
  .accordion__item
    .accordion__title=title
      .accordion__trigger
        i.icon-arrow
    .accordion__desc=desc
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi libero accusantium corrupti, aut quisquam aliquam nostrum pariatur assumenda maiores mollitia vel quod perspiciatis, consequuntur modi veniam rerum voluptate. Nemo sequi excepturi voluptatum delectus, temporibus dolores iste numquam quasi odit. Nihil!
      ol
        li lorem
        li lorem
        li lorem
    