.menu {
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $wc;
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: rem(30px) rem(15px);
  box-sizing: border-box;



  &__container {
    max-width: rem(1230px);
    width: 100%;
    margin: auto;
  }

  &__control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(45px);
  }

  &__col {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__return-arrow {
    margin-right: rem(30px);
    width: rem(30px);
    height: rem(30px);
    display: flex;
    align-items: center;
  }

  &__return-arrow,
  &__close {
    cursor: pointer;
    transition: $tr;

    &:hover {
      color: $mc;
    }
  }

  ::-webkit-input-placeholder {
    color: #C4C4C4;
    font-size: rem(15px);
    font-weight: 350;
  }

  ::-moz-placeholder {
    color: #C4C4C4;
    font-size: rem(15px);
  }

  :-moz-placeholder {
    color: #C4C4C4;
    font-size: rem(15px);
  }

  :-ms-input-placeholder {
    color: #C4C4C4;
    font-size: rem(15px);
  }

  .search {
    margin-bottom: rem(65px);

    @include md {
      margin-bottom: rem(40px);
    }

    &__field-wrap {
      border: rem(1px) solid #C4C4C4;
      border-radius: rem(3px);
      position: relative;
    }

    &__input {
      height: rem(46px);
      width: 100%;
      padding: 0 rem(50px) 0 rem(19px);
      color: #c0baba;
      box-sizing: border-box;
    }

    &__button {
      position: absolute;
      right: rem(11px);
      top: 50%;
      transform: translateY(-50%);
      color: #c4c4c4;
      font-size: rem(18px);
      cursor: pointer;
      transition: $tr;

      &:hover {
        color: #102948;
      }
    }
  }

  .btn-wrap {
    display: flex;
    justify-content: flex-end;
    margin-bottom: rem(65px);

    @include md {
      margin-bottom: rem(40px);
    }

    .btn {
      max-width: rem(279px);
      width: 100%;
    }
  }

  .nav {
    ul {
      display: flex;
      justify-content: space-between;

      li {
        flex-basis: 30%;

        &.nav__item_active {
          .trigger-sub-menu {
            display: none;
          }
        }

        a {
          text-transform: uppercase;
          display: block;
          color: $bc;
          font-weight: 400;

          @include md {
            font-size: rem(13px);
          }

          &:hover {
            color: $sc !important;
          }
        }

        ul {
          display: flex;
          flex-direction: column;
          margin-top: rem(20px);

          @include md {
            margin-top: rem(15px);
          }

          li {
            margin-bottom: rem(10px);

            &:last-child {
              margin-bottom: 0;
            }

            a {
              margin: 0;
              text-transform: none;
              font-weight: 350;
            }


            &.nav__item_active {
              position: relative;

              .trigger-sub-menu {
                position: absolute;
                font-size: rem(7px);
                color: $sc;
                cursor: pointer;
                top: rem(2px);
                right: 0;
                transition: $tr;
                width: rem(15px);
                height: rem(15px);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: rem(3px);

                i {
                  margin-bottom: rem(1px);
                  margin-right: rem(1px);
                }

                &:hover {
                  background-color: #102948;
                  color: $wc;
                }

                &.open-sub-menu {
                  transform: rotate(180deg);
                  background-color: #102948;
                  color: $wc;
                }
              }

              a {
                color: $sc;
              }

              ul {
                display: none;
                margin: rem(14px) 0 rem(5px) rem(20px);

                li {
                  a {
                    color: $bc;
                    margin: 0;
                  }

                  &.nav__item_active {
                    a {
                      color: $sc;
                    }
                  }
                }
              }
            }

            ul {
              li {
                a {
                  font-size: rem(12px);
                }
              }
            }
          }
        }
      }
    }
  }

  &__contacts {
    a {
      position: relative;
      color: $bc;
      padding-left: rem(40px);
      display: inline-block;
      padding-right: rem(10px);

      @include md {
        font-size: rem(14px);
      }

      i {
        position: absolute;
        left: 0;
      }

      &:after {
        right: 0;
        content: '';
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  .menu-contacts {
    .callback {
      font-weight: 500;
      margin: 0;
    }

    .dropdown {
      left: rem(18px);
    }

    &__items {
      margin-bottom: rem(25px);

      @include md {
        margin-bottom: rem(15px);
      }

      &:last-child {
        margin-bottom: 0;

        .menu-contacts__item {
          &:after {
            display: none;
          }
        }
      }
    }

    &__item {
      position: relative;
      padding-left: rem(40px);
      display: inline-block;
      padding-right: rem(10px);
      color: $bc;

      @include md {
        font-size: rem(14px);
      }

      &:after {
        right: 0;
        position: absolute;
        content: '';
        font-family: 'fonticon';
        font-size: rem(4px);
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
      }

      i {
        position: absolute;
        left: 0;
      }

      &:after {
        right: 0;
        content: '';
        transform: translateY(-50%) rotate(180deg);
      }
    }

    .dropdown-wrap__title {
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  .cols-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .main-col {
      max-width: rem(865px);
      width: 100%;
      margin-left: 0 !important;

      @include lg {
        margin-right: rem(10px);
      }
    }

    .secondary-col {
      max-width: rem(279px);
      width: 100%;

    }
  }
}



.mm-listitem:after {
  left: 0 !important;
}

.mm-slideout {
  z-index: inherit;
}

#googlemap {
  height: rem(700px);

  @include lg {
    height: rem(500px);
  }

  @include md {
    height: rem(400px);
  }
}

.mmenu-nav {
  display: none;
}

.mm-menu_offcanvas.mm-menu_opened {
  display: block;
}