.search-panel
  .container
    form(action="")
      .search-panel__wrap
        .search-panel__input
          input(type="text" placeholder="Найти")
        .search-panel__btn
          button(type="submite" class="btn") найти
          .search-panel__close
            i.icon-close