.sliding-panel#callback
  .sliding-panel__close
    i.icon-close
  .sliding-panel__title Заказать звонок
    .sliding-panel__subtitle Менеджеры компании с радостью ответят на ваши вопросы и произведут расчет стоимости услуг и подготовят индивидуальное коммерческое предложение.


  form(action="")
    mixin input(name, label, modify)
      .input
        input(type="text" name=name class=modify required).input__field
        label.input__label=label
    +input('Имя', 'Ваше имя')    
    +input('Телефон', 'Телефон','phone-js')    
    +input('Email', 'Email')    
    +input('Интресующий товар/услуга', 'Интресующий товар/услуга')  
    .input
      textarea.input__field.input__field_textarea(required)
      label.input__label Отзыв *
    .agree
      label.agree__swich
        input.agree__check(type='checkbox')
        | Я согласен на    
        a(href="#")  обработку персональных данных
    .btn-wrap
      button.btn(type="submit") ОТПРАВИТЬ
