.social
  ul
    mixin social(item, bgc)
      li
        a(href="#" class=bgc)
          i(class=item)
    +social('icon-fb', 'fb')          
    +social('icon-vk', 'vk')          
    +social('icon-tw', 'tw')          
    +social('icon-in', 'in')          
    +social('icon-you', 'you')          
