extends layout/main/main
block title
  | about
block main
  .wrapper
    .content
      - var headerFlush = false
        include includes/header/header
        .about.layout
          .container
            include includes/breadcrumbs/breadcrumbs
            +breadcrumbs(['главная'], 'О компании')
            .title-wrap
              .title О компании

            .cols-wrap
              .secondary-col
                include includes/sidebar/sidebar
              .main-col
                  .about__img
                    img(src="./assets/img/about.jpg", alt="")

                  .text
                    p Рекламный холдинг Adver Group успешно работает на рынке Кыргызстана, обслуживает международный бизнес. Мы сотрудничаем с такими крупными партнёрами, как Нуртелеком, Торговая Сеть Народный и др..На сегодняшний день более 480 организаций используют нашу продукцию. Компания выступила официальным спонсором Всемирных Игр Кочевников в 2016 и 2018.
                    p  Портфолио регулярно пополняется новыми успешными проектами. База признания насчитывает около 300 сертификатов качества и рекомендательных писем. Эффективность деятельности оценили независимые эксперты. Компания участвовала во многих конкурсах:
                    
                    ol
                      mixin numberList(item)
                        li=item 
                      +numberList('«Лучший видеоролик» на Red Jolbors Awards (победитель в номинации).')
                      +numberList('Видеоролик «Мобильное TV» от оператора MegaCom.')
                      +numberList('#One Magazine Awards 2014 и т.д.') 
                      
                    
                    p В нашей компании работают лучшие специалисты страны: ответственные, талантливые сотрудники, которые регулярно повышают свою квалификацию. Эксперты умело сочетают в работе традиционные и авторские методики. Так как Adver Group динамично расширяется, наши ряды пополняют. Все сотрудники работают продуктивно, обслуживают клиентов без задержек и очередей.
                    p За годы практики мы хорошо изучили рынок, поняли потребности партнёров, усовершенствовали свои возможности. Мы готовы предложить вам:

                    ul.with-dots
                      mixin dotsList(item)
                        li=item 
                      +dotsList('Услуги одной из лучших типографии города – AdverPrint, оснащённой современным европейским оборудованием;')
                      +dotsList('Широкий охват способов и площадей для продвижения бренда;')
                      +dotsList('Доступную стоимость услуг;')
                      +dotsList('Экспертные бесплатные консультации.')

                    p Обращаясь в холдинг Adver Group, вы получаете комплексное обслуживание. Вам не придётся тратить время и средства на поиск дополнительных специалистов. Широкий штат профессионалов и большой спектр возможностей позволяет нам успешно выполнять любые маркетинговые задачи.
                    p  Мы заслужили хорошую репутацию, нас советуют друзьям и партнёрам. Сотрудники не навязывают лишних услуг, конечная цена обговаривается до подписания договора, фиксируется и не меняется в процессе выполнения работы. Клиенты могут контролировать каждый этап выполнения заказа. Мы регулярно предоставляем бонусы и скидки, предлагаем выгодное пакетное обслуживание.
                    p Доверяя нам рекламу своего бизнеса, вы останетесь довольны результатами работы, быстро получите известность и прибыль!  

            
          


     

    include includes/footer/footer

  include includes/callback/callback
  include includes/question/question
  include includes/map/map

  include includes/scripts 
