extends layout/main/main
block title
  | services
block main
  .wrapper
    .content
      - var headerFlush = false
        include includes/header/header
        .servivec.layout
          .container
            include includes/breadcrumbs/breadcrumbs
            +breadcrumbs(['главная'], 'Услуги')
            .title-wrap
              .title Услуги 
              
              .text
                p Обращаясь к нам, вы получите полный спектр услуг по продвижению бренда. Мы успешно справимся с задачей любой сложности. Эксперты добиваются хороших результатов даже при работе с бизнесом из ниши с высокой конкуренцией.
                p Если вам нужно привлечь целевую аудиторию и заявить о себе, но вы ещё не нашли оптимальный метод, мы подберём нужный вариант. Сотрудники:

                ul.with-dotted
                  mixin dottedList(item) 
                    li=item
                  +dottedList('Проанализируют рынок;')    
                  +dottedList('Оценят конкурентов;')    
                  +dottedList('Создадут для вас уникальное торговое предложение;')    
                  +dottedList('Выберут недорогой и эффективный способ рекламы товара или услуги.')

                p Мы всегда идём навстречу клиенту, готовы оказать помощь, подстроиться под каждый запрос. Работа любой сложности и срочности выполняется в строго установленный срок. Обращаясь к специалистам, вы получите оперативное и качественное обслуживание,будете на шаг впереди конкурентов и улучшите свою репутацию!
                p За годы работы мы обзавелись талантливыми специалистами, расширили спектр своих возможностей. Поэтому мы можем предложить клиентам массу вариантов продвижения, самые популярные из них:  

              .services__list
                  mixin servicesList(title,text,img)
                    .services__item
                      .services__col
                        a(href="#").services__link
                          i.icon-arrow2
                        .text
                          .title-wrap
                            .title=title 
                          p=text 
                      .services__col
                        img(src=img, alt="")
                  +servicesList('Наружная реклама','Одним из самых эффективных видов рекламы считается наружная реклама. Поэтому спрос на этот вид рекламной продукции постоянен. Вдоль дорог и улиц города размещается наружная реклама, представляющая собой рекламные щиты с размерами 3x6м. Так же мы готовы предоставить нашим клиентам нестандартные рекламные площадки. Преимущества работы с нашей компанией: Самая широкая сеть по биллбордам и мегабордам по Кыргызстану Высокое качество широкоформатной печати Оперативные и точные сроки', './assets/img/service1.jpg')          
                  +servicesList('Полиграфия','Одним из самых эффективных видов рекламы считается наружная реклама. Поэтому спрос на этот вид рекламной продукции постоянен. Вдоль дорог и улиц города размещается наружная реклама, представляющая собой рекламные щиты с размерами 3x6м. Так же мы готовы предоставить нашим клиентам нестандартные рекламные площадки. Преимущества работы с нашей компанией: Самая широкая сеть по биллбордам и мегабордам по Кыргызстану Высокое качество широкоформатной печати Оперативные и точные сроки', './assets/img/service2.jpg')          
                  +servicesList('Дизайн','Одним из самых эффективных видов рекламы считается наружная реклама. Поэтому спрос на этот вид рекламной продукции постоянен. Вдоль дорог и улиц города размещается наружная реклама, представляющая собой рекламные щиты с размерами 3x6м. Так же мы готовы предоставить нашим клиентам нестандартные рекламные площадки. Преимущества работы с нашей компанией: Самая широкая сеть по биллбордам и мегабордам по Кыргызстану Высокое качество широкоформатной печати Оперативные и точные сроки', './assets/img/service3.jpg')          
                  +servicesList('Продакшн','Одним из самых эффективных видов рекламы считается наружная реклама. Поэтому спрос на этот вид рекламной продукции постоянен. Вдоль дорог и улиц города размещается наружная реклама, представляющая собой рекламные щиты с размерами 3x6м. Так же мы готовы предоставить нашим клиентам нестандартные рекламные площадки. Преимущества работы с нашей компанией: Самая широкая сеть по биллбордам и мегабордам по Кыргызстану Высокое качество широкоформатной печати Оперативные и точные сроки', './assets/img/service4.jpg')          
            
          


     

    include includes/footer/footer

  include includes/callback/callback
  include includes/question/question
  include includes/map/map

  include includes/scripts 
